@using Microsoft.AspNetCore.Http;
@using Senai.LanHouse.Web.Razor.Dominios;
@using Microsoft.AspNetCore.Mvc;


@model Senai.LanHouse.Web.Razor.Dominios.Defeito

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Defeito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*@{           
            Usuario retorno = new Usuario();
            retorno.Email = HttpContext.Session.GetString("email");
        }*@
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DefeitoId" />
            <div class="form-group">
                <label asp-for="DataDefeito" class="control-label"></label>
                <input asp-for="DataDefeito" class="form-control" />
                <span asp-validation-for="DataDefeito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDefeitoId" class="control-label"></label>
                <select asp-for="TipoDefeitoId" class="form-control" asp-items="ViewBag.TipoDefeitoId"></select>
                <span asp-validation-for="TipoDefeitoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipamentoId" class="control-label"></label>
                <select asp-for="EquipamentoId" class="form-control" asp-items="ViewBag.EquipamentoId"></select>
                <span asp-validation-for="EquipamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
